h2 Please log in.

form(action='login' method='POST')
        br
        input(type='text' name='user' required)
		input(type='text' name='password' required)
    p
        input(type='submit' value='Log In')
