include header
body
    // Navbar 
include navbar
include logsign
    // Sign-up 
    // Banner 
    .jumbotron#rental_banner
      .container
        h1.display-2 About Us
    // Banner 
    //  -------------- About us main content --------------  
    //  -------------- About us main content --------------  
    // Footer 
    .empty
include footer
