.modal.fade#login(tabindex='-1', role='dialog', aria-labelledby='login', aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h5.modal-title#user_login Login
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          form(action='../php/main_login.php', method='POST')
            .modal-body
              .form-group
                label(for='user_login') Username
                input.form-control#user_login(name='username', type='text', placeholder='Username')
              .form-group
                label(for='user_pass') Password
                input.form-control#user_pass(name='password', type='password', placeholder='Password')
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
              input.btn.btn-primary.btn_cc(name='login', type='submit', value='Login')

      .modal.fade#sign_up(tabindex='-1', role='dialog', aria-labelledby='sign_up', aria-hidden='true')
      .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
          .modal-header
            h5.modal-title#user_sign_up Sign-up
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            ul.nav.nav-tabs
              li.nav-item
                a.nav-link.active(data-toggle='tab', href='#menu1') Client
              li.nav-item
                a.nav-link(data-toggle='tab', href='#menu2') Service provider
            .tab-content
              .tab-pane.active.container#menu1
                form
                  .modal-body
                    .form-row
                      .col-md-4.mb-3
                        label(for='client_first_name') First name
                        input.form-control#client_first_name(name='client_first_name', type='text', placeholder='First name', required='')
                      .col-md-4.mb-3
                        label(for='client_last_name') Last name
                        input.form-control#client_last_name(name='client_last_name', type='text', placeholder='Last name', required='')
                    .form-row
                      .form-check.mr-4
                        input.form-check-input#option_male(type='radio', name='male', value='male', checked='')
                        label.form-check-label(for='option_male') Male
                      .form-check
                        input.form-check-input#option_female(type='radio', name='female', value='female')
                        label.form-check-label(for='option_female') Female
                    br
                    .form-row
                      .col-md-6
                        .form-group
                          label Date of Birth
                          input.form-control#exampleInputDOB1(type='date', placeholder='Date of Birth')
                      .col-md-4.mb-3
                        label(for='client_username') Username
                        input.form-control#client_username(name='client_username', type='text', placeholder='Username', required='')
                    .form-row
                      .col-md-6.mb-3
                        label(for='client_email') Email Address
                        input.form-control#client_email(name='client_email', type='text', placeholder='Email Address', required='')
                    .form-row
                      .col-md-6.mb-3
                        label(for='client_address') Address
                        input.form-control#client_address(name='client_address', type='text', placeholder='Address', required='')
                    .form-row
                      .col-md-6.mb-3
                        label(for='client_pass') Password
                        input.form-control#client_pass(name='client_pass', type='password', placeholder='Password', required='')
                    .form-row
                      .col-md-6.mb-3
                        label(for='client_contact') Contact number
                        input.form-control#client_contact(name='client_contact', type='text', placeholder='Contact number', required='')
                  .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    input.btn.btn-primary.btn_cc(type='submit', value='Sign-up')
              .tab-pane.container#menu2
                form
                  .modal-body
                    .form-row
                      .col-md-4.mb-3
                        label(for='service_name') Provider name
                        input.form-control#service_name(name='service_name', type='text', placeholder='Name', required='')
                      .col-md-4.mb-3
                        label(for='service_username') Username
                        input.form-control#service_username(name='service_username', type='text', placeholder='Username', required='')
                    .form-row
                      .col-md-6.mb-3
                        label(for='service_address') Address
                        input.form-control#service_address(name='service_address', type='text', placeholder='Address', required='')
                    .form-row
                      .col-md-6.mb-3
                        label(for='service_email') Email Address
                        input.form-control#service_email(name='service_email', type='text', placeholder='Email Address', required='')
                    .form-row
                      .col-md-6.mb-3
                        label(for='service_pass') Password
                        input.form-control#service_pass(name='service_pass', type='password', placeholder='Password', required='')
                    .form-row
                      .col-md-6.mb-3
                        label(for='service_contact') Contact number
                        input.form-control#service_contact(name='service_contact', type='text', placeholder='Contact number', required='')
                  .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    input.btn.btn-primary.btn_cc(type='submit', value='Sign-up')