nav.navbar.navbar-dark.bg-dark.fixed-top.navbar-expand-lg
	a.navbar-brand(href='#')
		img.logo_s(src='/img/Logo.png')
		| TentERent
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	div.collapse.navbar-collapse#navbarSupportedContent
		ul.navbar-nav.mr-auto
			li.nav-item
				a.nav-link(href='/index.html') Home
			li.nav-item
				a.nav-link(href='/rental') Rentals
			li.nav-item
				a.nav-link(href='/contact') Contact
			li.nav-item
				a.nav-link(href='/aboutus') About Us
		ul.navbar-nav#login_and_sign_up
			i.nav-item
				a.nav-link(href='#', data-toggle='modal', data-target='#login') Login
			li.nav-item
				a.nav-link(href='#', data-toggle='modal', data-target='#sign_up') Sign-up