doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title TentERent | Rentals
    link(rel='shortcut icon', href='img/Logo.png')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/main.css')
    // Bootstrap 
    link(rel='stylesheet', href='bootstrap.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/popper.min.js')
    // Bootstrap 
  body
    // Navbar 
    nav.navbar.navbar-dark.bg-dark.fixed-top.navbar-expand-lg
      a.navbar-brand(href='#')
        img.logo_s(src='/img/Logo.png')
        | TentERent
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/rental') Rentals
          li.nav-item
            a.nav-link(href='/contact') Contact
          li.nav-item
            a.nav-link(href='/aboutus') About Us
        ul#login_and_sign_up.navbar-nav
            li.nav-item.dropdown
                a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') #{username}
                .dropdown-menu
                    a.dropdown-item(href='view_profile.html') View Profile
                    a.dropdown-item(href='edit_profile.html') Edit Profile
            li.nav-item
                a.nav-link(href='/logout') Logout
    // Sign-up 
    // Banner 
    .jumbotron#rental_banner
      .container
        h1.display-2 Rentals
    // Banner 
    // Rentals item category 
    .container
      h1.display-4(style='padding-bottom: 30px;') Categories
      ul#category_rental_page(style='list-style-type: none;')
        li
          a(href='#') Axe
        li
          a(href='#') Bag
        li
          a(href='#') Blanket
        li
          a(href='#') Chair
        li
          a(href='#') Fishing Rod
        li
          a(href='#') Grill
        li
          a(href='#') Hammer
        li
          a(href='#') Lantern
        li
          a(href='#') Pick Axe
        li
          a(href='#') Pillow
        li
          a(href='#') Shovel
        li
          a(href='#') Sleeping Bag
        li
          a(href='#') Table
        li
          a(hre='', ¿¶f='#') Tent
        li
          a(href='#') Thermos
      br
      br
    // Rentals item category 
    .clear
    //  -------------- Rentals main content --------------  
    section#main(style='padding-top: 50px;')
      .container-fluid#rentals_content
        // Sort navbar 
        #rentals_side_nav
          h2.display-4 Sort By:
          hr.my-4
          h5 Price
          hr.my-4
          h5 Rating
          hr.my-4
        // Sort navbar 
        // Rental items 
        section#rentals_main_content
          .container-fluid
            .row
              .col-md-4
                .card.mb-4.box-shadow
                  .items_small_pic
                    img.card-img-top(src='')
                  .card-body
                    p.card-text
                      | Item:
                      br
                      | Description:
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        a.btn.btn-sm.btn-outline-secondary(role='button', href='/rentals/view_rental.html') View
                      small.text-muted Price:
              .col-md-4
                .card.mb-4.box-shadow
                  .items_small_pic
                    img.card-img-top(src='')
                  .card-body
                    p.card-text
                      | Item:
                      br
                      | Description:
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        a.btn.btn-sm.btn-outline-secondary(role='button', href='/rentals/view_rental.html') View
                      small.text-muted Price:
              .col-md-4
                .card.mb-4.box-shadow
                  .items_small_pic
                    img.card-img-top(src='')
                  .card-body
                    p.card-text
                      | Item:
                      br
                      | Description:
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        a.btn.btn-sm.btn-outline-secondary(role='button', href='/rentals/view_rental.html') View
                      small.text-muted Price:
              .col-md-4
                .card.mb-4.box-shadow
                  .items_small_pic
                    img.card-img-top(src='')
                  .card-body
                    p.card-text
                      | Item:
                      br
                      | Description:
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        a.btn.btn-sm.btn-outline-secondary(role='button', href='/rentals/view_rental.html') View
                      small.text-muted Price:
              .col-md-4
                .card.mb-4.box-shadow
                  .items_small_pic
                    img.card-img-top(src='')
                  .card-body
                    p.card-text
                      | Item:
                      br
                      | Description:
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        a.btn.btn-sm.btn-outline-secondary(role='button', href='/rentals/view_rental.html') View
                      small.text-muted Price:
              .col-md-4
                .card.mb-4.box-shadow
                  .items_small_pic
                    img.card-img-top(src='')
                  .card-body
                    p.card-text
                      | Item:
                      br
                      | Description:
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        a.btn.btn-sm.btn-outline-secondary(role='button', href='/rentals/view_rental.html') View
                      small.text-muted Price:
        // Rental items 
    //  -------------- Rentals main content --------------  
    // Footer 
    .empty
    footer.footer
      .container
        span.text-muted WebTech 2018 © Saint Louis University
    // Footer 
