.logo_s {
    height: 40px;
    padding-right: 5px;
}

/* Fonts */
@font-face {
    font-family: 'nature';
    src: url(../fonts/nature.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto.ttf);
}
/* Fonts */

/* Navbar */
.navbar-brand {
    font-family: nature;
    padding-left: 30px;
    padding-right: 50px;
}
/* Navbar */

/* Slider */
.carousel-item {
    height: 60vh;
}

#slide_1 {
    background-image: url(../img/slider_1.png);
}

#slide_2 {
    background-image: url(../img/slider_2.png);
}

#slide_3 {
    background-image: url(../img/slider_3.png);
}

#slide_1, #slide_2, #slide_3 {
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.carousel-caption img {
    width: 30%;
}

#intro img {
    width: 450px;
    margin-right: 35px;
}

#intro h1{
    font-family: nature;
    font-size: 90px;
}

table {
    margin: auto;
}
td {
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 100px;
}
#title {
    position: relative;
}
