.logo_s {
    height: 40px;
    padding-right: 5px;
}

/* Fonts */
@font-face {
    font-family: 'nature';
    src: url(../fonts/nature.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto.ttf);
}
/* Fonts */

/* Navbar */
.navbar-brand {
    font-family: nature;
}
/* Navbar */

#main {
    width: auto;
    height: auto;
}
.client-sp {
    margin-top: 60px;
    margin-left: 15px;
}
#useroptions {
    width: 710px;
}
table {
    margin: auto;
}
td {
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 100px;
}
#title {
    position: relative;
}
#clienttable {
    display: none;
}
#chooseuser {
    border: 1px solid black;
    width: auto;
    position: relative;
}
