body {
	background-color: rgba(0, 0, 0, 0.08) !important;
}

.nav-item-sp {
	margin: 0 5px 0 5px !important;
}

.dropdown-menu-sp {
	margin-top: 12px !important;
}

.sp-container {
	margin-top: 50px;
}

.sp-labels {
	font-weight: bold;
}

.sp-equal {
	height: 300px;
	display: flex;
}

.sp-image {
	height: 300px;
	width: inherit;
}

#sp-top-images {
	margin: 0 auto;
}

.container {
	padding: 50px 0 50px 0;
}

.sp-divider {
	background-color: #000;
	height: 1px;
	width: 90%;	
	margin: 50px 0 50px 5%;
}

.sp-item-info {
	border-top: 1px solid #000;
	width: 90%;
	margin-left: 5%;
}

.sp-items-header {
	margin-bottom: 50px;
}

.sp-item-image {
	width: inherit;
}

.cus-row {
    padding: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cus-card {
    margin: 5px !important;
    border-radius: 3px;
	background-color: #fff;
    height: auto;
}

.cus-card:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.car-img-top {
    width: 300px !important; 
    height: 150px !important;
}

.add-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.add-item:hover {
    cursor: pointer;
}

.cus-btn-group {
	justify-content: space-between;
}

.cus-btn-i {
	font-size: 0.8em !important;
}

.img-con-card {
	width: 300px; 
	height: 150px;
	display: flex;
	justify-content: center;
	align-content: center;
}