body {
	background-color: rgba(0, 0, 0, 0.08) !important;
}

.nav-item-sp {
	margin: 0 5px 0 5px !important;
}

.dropdown-menu-sp {
	margin-top: 12px !important;
}

.sp-container {
	margin-top: 50px;
}

.sp-labels {
	font-weight: bold;
}

.sp-equal {
	height: 300px;
	display: flex;
}

.sp-image {
	height: 300px;
	width: inherit;
}

#sp-top-images {
	margin: 0 auto;
}

.container {
	padding: 50px 0 50px 0;
}

.sp-divider {
	background-color: #000;
	height: 1px;
	width: 90%;	
	margin: 50px 0 50px 5%;
}

.cus-col-sm {
	margin: 0 10px 0px 10px;
	border-radius: 3px;
	background-color: #fff;
}

.cus-col-sm:hover {
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.sp-item-info {
	border-top: 1px solid #000;
	width: 90%;
	margin-left: 5%;
}

.sp-items-header {
	margin-bottom: 50px;
}

.sp-item-image {
	width: inherit;
}

.cus-row {
    padding: 10px 0 10px 0;
}

/*
#items-add {
    width: 265px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sp-add-item {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0);
    transition: all .2s ease-in-out;
    font-size: 6em;
    border: none;
}

.sp-add-item:hover {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
*/