include header
body
include navbar
                
#rental_banner.jumbotron
  .container
    h1.display-2 Contact Us
// Banner
// -------------- Contact main content --------------
.container
  br
  br
  br
  br
  .row.featurette
    .col-md-7.order-md-2
      h1.display-4 Contact Us
      br
      h2.display-4(style='font-size: 40px; margin-left: 30px;') Phone numbers:
      h2.display-4(style='font-size: 25px; margin-left: 60px;')
        | Globe:
        span(style='font-size: 16px;')  09653346612
      h2.display-4(style='font-size: 25px; margin-left: 60px;')
        | Smart:
        span(style='font-size: 16px;')  09473912879
      br
      h2.display-4(style='font-size: 40px; margin-left: 30px;') Members email:
      div(style='margin-left: 60px;')
        a(href='mailto:2161920@slu.edu.ph')
          b Abuiza, Okimwa: 
          |  2161920@slu.edu.ph
        br
        a(href='mailto:2160138@slu.edu.ph')
          b Ballares, Justine Paul: 
          |  2160138@slu.edu.ph
        br
        a(href='mailto:2166359@slu.edu.ph')
          b Bayle, Zealbert: 
          |  2166359@slu.edu.ph
        br
        a(href='mailto:@slu.edu.ph')
          b Carvajal, Jaime: 
          |  @slu.edu.ph
        br
        a(href='mailto:@slu.edu.ph')
          b Chinayog, Klint: 
          |  @slu.edu.ph
        br
        a(href='mailto:2166499@slu.edu.ph')
          b Gregorio, Marc Lawrence: 
          |  2166499@slu.edu.ph
        br
        a(href='mailto:@slu.edu.ph')
          b Panawan, Carville: 
          |  @slu.edu.ph
        br
        a(href='mailto:2166655@slu.edu.ph')
          b Pocaan, Dominic: 
          |  2166655@slu.edu.ph
        br
        a(href='mailto:@slu.edu.ph')
          b Sinbaen, Jan Rei: 
          |  @slu.edu.ph
    .col-md-5
      img.featurette-image.img-fluid.mx-auto(src='img/Logo.png', alt='Web Scripting')
// -------------- Contact main content --------------
// Footer
.empty
footer.footer
  .container
    span.text-muted WebTech 2018 &copy; Saint Louis University
// Footer
script(src='/catchphrase.js')
