doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title TentERent | Rentals
    link(rel='shortcut icon', href='img/Logo.png')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/main.css')
    // Bootstrap 
    link(rel='stylesheet', href='bootstrap.min.css')
    script(src='/jquery.min.js')
    script(src='/bootstrap.min.js')
    script(src='/popper.min.js')