include header
body
include navbar
 
.jumbotron#home_banner
  .container
    img(src='/img/Logo.png', alt='Website Logo', style='width: 40%; margin-top: 50px;')
    h1.display-4 TentERent
    #catchphrase
      p.lead Explore the Earth like nothing else.
    hr.my-4#hr_banner
include footer
