* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

/* Fonts */

@font-face {
    font-family: 'roboto';
    src: url(fonts/roboto.ttf);
}

@font-face {
    font-family: 'nature';
    src: url(fonts/nature.ttf);
}

/* Fonts */

/* Navbar */

#main_nav {
    margin-bottom: 0px;
    border-radius: 0px;
    color: #fff;
    padding: 5px 0;
    font-size: 18px;
    border: 0;
}

#logo {
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
	margin-left: 20px;
}

#logo img{
    float: left;
    height: 55px;
}

#logo h1 {
    float: left;
	position: absolute;
    margin: 10px 0 0 70px;
    font-family: nature;
}

/* Navbar */

/* Slider */

.item {
    height: 100vh;
}

#slide_1 {
    background-image: url(../img/slider_1.png);
}

#slide_2 {
    background-image: url(../img/slider_2.png);
}

#slide_3 {
    background-image: url(../img/slider_3.png);
}

#slide_1, #slide_2, #slide_3 {
    background-position: center;
    background-size: cover;
}

.carousel-caption img {
    width: 500px;
}

.carousel-caption h1 {
    font-family: nature;
    font-size: 180px;
    margin-bottom: 6%;
}

.carousel-caption h2 {
    font-size: 80px;
}

.carousel-caption p {
    font-size: 50px;
    margin-bottom: 30%;
}

.carousel-caption a {
    color: #fff;
    text-decoration: underline;
}

.carousel-caption a:hover {
    color: rgb(209, 84, 111);
}

/* Slider */